In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [3]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

### Create A MultiIndex with the .set_index() Method

In [4]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [8]:
bigmac.set_index(keys = "Date" )

                   Country  Price in US Dollars
Date
2016-01-01       Argentina                 2.39
2016-01-01       Australia                 3.74
2016-01-01          Brazil                 3.35
2016-01-01         Britain                 4.22
2016-01-01          Canada                 4.14
2016-01-01           Chile                 2.94
2016-01-01           China                 2.68
2016-01-01        Colombia                 2.43
2016-01-01      Costa Rica                 4.02
2016-01-01  Czech Republic                 2.98
2016-01-01         Denmark                 4.32
2016-01-01           Egypt                 2.16
2016-01-01       Euro area                 4.00
2016-01-01       Hong Kong                 2.48
2016-01-01         Hungary                 3.08
2016-01-01           India                 1.90
2016-01-01       Indonesia                 2.19
2016-01-01          Israel                 4.29
2016-01-01           Japan                 3.12
2016-01-01        Malaysia                 1.82
2016-01-01          Mexico                 2.81
2016-01-01     New Zealand                 3.91
2016-01-01          Norway                 5.21
2016-01-01        Pakistan                 2.86
2016-01-01            Peru                 2.93
2016-01-01     Philippines                 2.79
2016-01-01          Poland                 2.37
2016-01-01          Russia                 1.53
2016-01-01    Saudi Arabia                 3.20
2016-01-01       Singapore                 3.27
...                    ...                  ...
2010-01-01       Hong Kong                 1.91
2010-01-01         Hungary                 3.86
2010-01-01       Indonesia                 2.24
2010-01-01          Israel                 3.99
2010-01-01           Japan                 3.50
2010-01-01          Latvia                 3.09
2010-01-01       Lithuania                 2.87
2010-01-01        Malaysia                 2.08
2010-01-01          Mexico                 2.50
2010-01-01     New Zealand                 3.61
2010-01-01          Norway                 7.02
2010-01-01        Pakistan                 2.42
2010-01-01            Peru                 2.81
2010-01-01     Philippines                 2.21
2010-01-01          Poland                 2.86
2010-01-01          Russia                 2.34
2010-01-01    Saudi Arabia                 2.67
2010-01-01       Singapore                 3.19
2010-01-01    South Africa                 2.46
2010-01-01     South Korea                 2.98
2010-01-01       Sri Lanka                 1.83
2010-01-01          Sweden                 5.51
2010-01-01     Switzerland                 6.30
2010-01-01          Taiwan                 2.36
2010-01-01        Thailand                 2.11
2010-01-01          Turkey                 3.83
2010-01-01             UAE                 2.99
2010-01-01         Ukraine                 1.83
2010-01-01   United States                 3.58
2010-01-01         Uruguay                 3.32

[652 rows x 2 columns]

In [9]:
bigmac.set_index(keys="Country")

                     Date  Price in US Dollars
Country
Argentina      2016-01-01                 2.39
Australia      2016-01-01                 3.74
Brazil         2016-01-01                 3.35
Britain        2016-01-01                 4.22
Canada         2016-01-01                 4.14
Chile          2016-01-01                 2.94
China          2016-01-01                 2.68
Colombia       2016-01-01                 2.43
Costa Rica     2016-01-01                 4.02
Czech Republic 2016-01-01                 2.98
Denmark        2016-01-01                 4.32
Egypt          2016-01-01                 2.16
Euro area      2016-01-01                 4.00
Hong Kong      2016-01-01                 2.48
Hungary        2016-01-01                 3.08
India          2016-01-01                 1.90
Indonesia      2016-01-01                 2.19
Israel         2016-01-01                 4.29
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
...                   ...                  ...
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
Singapore      2010-01-01                 3.19
South Africa   2010-01-01                 2.46
South Korea    2010-01-01                 2.98
Sri Lanka      2010-01-01                 1.83
Sweden         2010-01-01                 5.51
Switzerland    2010-01-01                 6.30
Taiwan         2010-01-01                 2.36
Thailand       2010-01-01                 2.11
Turkey         2010-01-01                 3.83
UAE            2010-01-01                 2.99
Ukraine        2010-01-01                 1.83
United States  2010-01-01                 3.58
Uruguay        2010-01-01                 3.32

[652 rows x 2 columns]

In [11]:
bigmac.set_index(keys=["Date","Country"], inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [13]:
bigmac.index

MultiIndex(levels=[[2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00], ['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Britain', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Euro area', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']],
           labels=[[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 22, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 2, 3, 14, 16, 17, 18, 19, 24, 26, 32, 39, 45, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]],
           names=['Date', 'Country'])

In [15]:
bigmac.sort_index(inplace=True)

In [16]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [17]:
bigmac.index

MultiIndex(levels=[[2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00], ['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Britain', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Euro area', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia', 'Lithuania', 'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Russia', 'Saudi Arabia', 'Singapore', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11], [0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 20, 21, 23, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57]],
           names=['Date', 'Country'])

In [19]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [20]:
type(bigmac.index.names)

pandas.core.indexes.frozen.FrozenList

In [21]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [22]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

### The .get_level_values() Method

In [25]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [26]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [31]:
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

### The .set_names() Method on MultiIndex

In [32]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [35]:
bigmac.index.set_names(["Date","Location"], inplace=True)

In [36]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

### The .sort_index() Method

In [37]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [38]:
bigmac.sort_index()

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
...                                        ...
2016-01-01 Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           Netherlands                    3.71
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Portugal                       3.23
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
           South Africa                   1.77
           South Korea                    3.59
           Spain                          3.76
           Sri Lanka                      2.43
           Sweden                         5.23
           Switzerland                    6.44
           Taiwan                         2.08
           Thailand                       3.09
           Turkey                         3.41
           UAE                            3.54
           Ukraine                        1.54
           United States                  4.93
           Uruguay                        3.74
           Venezuela                      0.66
           Vietnam                        2.67

[652 rows x 1 columns]

In [40]:
bigmac.sort_index(ascending=[False, True])

                           Price in US Dollars
Date       Country
2016-01-01 Argentina                      2.39
           Australia                      3.74
           Austria                        3.76
           Belgium                        4.25
           Brazil                         3.35
           Britain                        4.22
           Canada                         4.14
           Chile                          2.94
           China                          2.68
           Colombia                       2.43
           Costa Rica                     4.02
           Czech Republic                 2.98
           Denmark                        4.32
           Egypt                          2.16
           Estonia                        3.23
           Euro area                      4.00
           Finland                        4.41
           France                         4.41
           Germany                        3.86
           Greece                         3.60
           Hong Kong                      2.48
           Hungary                        3.08
           India                          1.90
           Indonesia                      2.19
           Ireland                        4.25
           Israel                         4.29
           Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
...                                        ...
2010-01-01 Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

[652 rows x 1 columns]

In [41]:
bigmac.sort_index(ascending=[True, False],inplace=True)

In [42]:
bigmac.head()

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83

### Extract Rows from MultiIndex DataFrame

In [44]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [50]:
bigmac.loc["2010-01-01"]

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

In [54]:
bigmac.loc[("2010-01-01","Brazil"),"Price in US Dollars"]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [55]:
bigmac.loc[("2010-01-01","Chile"), "Price in US Dollars"]

Date        Country
2010-01-01  Chile      3.18
Name: Price in US Dollars, dtype: float64

In [56]:
bigmac.ix[("2010-01-01","China"),0]

1.8300000000000001

### The .transpose() Method on MultiIndex

In [57]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [58]:
bigmac.transpose()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [59]:
bigmac = bigmac.transpose()

In [60]:
bigmac.shape

(1, 652)

In [61]:
bigmac.head(1)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [63]:
bigmac.index

Index(['Price in US Dollars'], dtype='object')

In [64]:
bigmac.ix["Price in US Dollars"]

Date        Country
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
                              ...
2016-01-01  Italy             4.30
            Japan             3.12
            Malaysia          1.82
            Mexico            2.81
            Netherlands       3.71
            New Zealand       3.91
            Norway            5.21
            Pakistan          2.86
            Peru              2.93
            Philippines       2.79
            Poland            2.37
            Portugal          3.23
            Russia            1.53
            Saudi Arabia      3.20
            Singapore         3.27
            South Africa      1.77
            South Korea       3.59
            Spain             3.76
            Sri Lanka         2.43
            Sweden            5.23
            Switzerland       6.44
            Taiwan            2.08
            Thailand          3.09
            Turkey            3.41
            UAE               3.54
            Ukraine           1.54
            United States     4.93
            Uruguay           3.74
            Venezuela         0.66
            Vietnam           2.67
Name: Price in US Dollars, Length: 652, dtype: float64

In [69]:
bigmac.ix["Price in US Dollars",("2016-01-01","China")]

2.6800000000000002

### The .swaplevel() Method

In [70]:
bigmac = pd.read_csv('data/bigmac.csv', parse_dates=["Date"], index_col=["Date","Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [71]:
bigmac.swaplevel()

                           Price in US Dollars
Country        Date
Argentina      2010-01-01                 1.84
Australia      2010-01-01                 3.98
Brazil         2010-01-01                 4.76
Britain        2010-01-01                 3.67
Canada         2010-01-01                 3.97
Chile          2010-01-01                 3.18
China          2010-01-01                 1.83
Colombia       2010-01-01                 3.91
Costa Rica     2010-01-01                 3.52
Czech Republic 2010-01-01                 3.71
Denmark        2010-01-01                 5.99
Egypt          2010-01-01                 2.38
Euro area      2010-01-01                 4.84
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
...                                        ...
Italy          2016-01-01                 4.30
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
Netherlands    2016-01-01                 3.71
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Portugal       2016-01-01                 3.23
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
South Africa   2016-01-01                 1.77
South Korea    2016-01-01                 3.59
Spain          2016-01-01                 3.76
Sri Lanka      2016-01-01                 2.43
Sweden         2016-01-01                 5.23
Switzerland    2016-01-01                 6.44
Taiwan         2016-01-01                 2.08
Thailand       2016-01-01                 3.09
Turkey         2016-01-01                 3.41
UAE            2016-01-01                 3.54
Ukraine        2016-01-01                 1.54
United States  2016-01-01                 4.93
Uruguay        2016-01-01                 3.74
Venezuela      2016-01-01                 0.66
Vietnam        2016-01-01                 2.67

[652 rows x 1 columns]

In [72]:
bigmac = bigmac.swaplevel()

In [73]:
bigmac.head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

### The .stack() Method

In [74]:
pd.read_csv("data/worldstats.csv")

          country  year   Population           GDP
0      Arab World  2015  392022276.0  2.530102e+12
1      Arab World  2014  384222592.0  2.873600e+12
2      Arab World  2013  376504253.0  2.846994e+12
3      Arab World  2012  368802611.0  2.773270e+12
4      Arab World  2011  361031820.0  2.497945e+12
5      Arab World  2010  353112237.0  2.103825e+12
6      Arab World  2009  345054176.0  1.798878e+12
7      Arab World  2008  336886468.0  2.081343e+12
8      Arab World  2007  328766559.0  1.641666e+12
9      Arab World  2006  320906736.0  1.404190e+12
10     Arab World  2005  313430911.0  1.184735e+12
11     Arab World  2004  306387415.0  9.639180e+11
12     Arab World  2003  299731956.0  8.218702e+11
13     Arab World  2002  293402563.0  7.279939e+11
14     Arab World  2001  287291826.0  7.221506e+11
15     Arab World  2000  281326250.0  7.339481e+11
16     Arab World  1999  275503565.0  6.431349e+11
17     Arab World  1998  269795252.0  5.905141e+11
18     Arab World  1997  264153948.0  6.123037e+11
19     Arab World  1996  258423164.0  5.773078e+11
20     Arab World  1995  252591048.0  5.228684e+11
21     Arab World  1994  244893420.0  4.866723e+11
22     Arab World  1993  238628852.0  4.756916e+11
23     Arab World  1992  232417246.0  4.703749e+11
24     Arab World  1991  228171034.0  4.388799e+11
25     Arab World  1990  222117305.0  4.460181e+11
26     Arab World  1989  214250542.0  3.221911e+11
27     Arab World  1988  208546282.0  3.074560e+11
28     Arab World  1987  202851923.0  3.129250e+11
29     Arab World  1986  197202142.0  2.890606e+11
...           ...   ...          ...           ...
11181    Zimbabwe  1989   10184966.0  8.286323e+09
11182    Zimbabwe  1988    9866776.0  7.814784e+09
11183    Zimbabwe  1987    9535657.0  6.741215e+09
11184    Zimbabwe  1986    9198874.0  6.217524e+09
11185    Zimbabwe  1985    8862601.0  5.637259e+09
11186    Zimbabwe  1984    8528328.0  6.352126e+09
11187    Zimbabwe  1983    8197564.0  7.764067e+09
11188    Zimbabwe  1982    7876414.0  8.539701e+09
11189    Zimbabwe  1981    7571965.0  8.011374e+09
11190    Zimbabwe  1980    7289083.0  6.678868e+09
11191    Zimbabwe  1979    7031159.0  5.177459e+09
11192    Zimbabwe  1978    6796946.0  4.351600e+09
11193    Zimbabwe  1977    6580739.0  4.364382e+09
11194    Zimbabwe  1976    6373956.0  4.318372e+09
11195    Zimbabwe  1975    6170284.0  4.371301e+09
11196    Zimbabwe  1974    5967861.0  3.982161e+09
11197    Zimbabwe  1973    5768382.0  3.309354e+09
11198    Zimbabwe  1972    5573312.0  2.677729e+09
11199    Zimbabwe  1971    5385342.0  2.178716e+09
11200    Zimbabwe  1970    5206311.0  1.884206e+09
11201    Zimbabwe  1969    5036321.0  1.747999e+09
11202    Zimbabwe  1968    4874113.0  1.479600e+09
11203    Zimbabwe  1967    4718612.0  1.397002e+09
11204    Zimbabwe  1966    4568320.0  1.281750e+09
11205    Zimbabwe  1965    4422132.0  1.311436e+09
11206    Zimbabwe  1964    4279561.0  1.217138e+09
11207    Zimbabwe  1963    4140804.0  1.159512e+09
11208    Zimbabwe  1962    4006262.0  1.117602e+09
11209    Zimbabwe  1961    3876638.0  1.096647e+09
11210    Zimbabwe  1960    3752390.0  1.052990e+09

[11211 rows x 4 columns]

In [78]:
world = pd.read_csv("data/worldstats.csv", index_col=["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12