In [1]:
import pandas as pd
from pandas_datareader import data

In [5]:
companies = ["MSFT", "GOOG", "AAPL", "AMZN"]

p = data.DataReader(name = companies, data_source = "iex", start = "2014-01-01", end = "2018-12-31")

p

Attributes      open                                   high             \
Symbols         AAPL      AMZN     GOOG      MSFT      AAPL       AMZN
date
2014-01-02   72.8554   398.800      NaN   33.1201   73.0324   399.3600
2014-01-03   72.4857   398.290      NaN   32.9871   72.5958   402.7100
2014-01-06   70.4653   395.850      NaN   32.6768   71.6912   397.0000
2014-01-07   71.3660   395.040      NaN   32.2112   71.5811   398.4700
2014-01-08   70.6436   398.470      NaN   31.9230   71.5286   403.0000
2014-01-09   71.6912   403.710      NaN   31.8166   71.6991   406.8900
2014-01-10   70.7773   402.530      NaN   31.8343   70.9045   403.7640
2014-01-13   69.4767   397.980      NaN   31.9142   71.1274   399.7800
2014-01-14   70.5663   392.130      NaN   30.7969   71.6820   398.6300
2014-01-15   72.5722   398.940      NaN   31.8343   73.4481   399.3100
2014-01-16   72.7532   393.680      NaN   32.5349   73.0088   399.2900
2014-01-17   72.3048   394.260      NaN   32.6590   72.3821   403.4900
2014-01-21   70.9294   403.000      NaN   32.6502   72.1199   407.8000
2014-01-22   72.2307   408.000      NaN   32.1536   73.0665   408.0600
2014-01-23   72.1029   401.000      NaN   32.0028   72.9630   406.1700
2014-01-24   72.6352   398.160      NaN   33.2088   72.8476   400.2000
2014-01-27   72.1199   390.500      NaN   32.6945   72.7401   394.1000
2014-01-28   66.7037   387.400      NaN   32.0294   67.5219   394.7400
2014-01-29   66.0731   392.160      NaN   31.9053   66.5215   392.8500
2014-01-30   65.8882   393.770      NaN   32.6236   66.4074   406.2500
2014-01-31   64.9233   371.760      NaN   32.7654   65.7558   375.4500
2014-02-03   65.8974   358.980      NaN   33.4660   66.5687   360.8500
2014-02-04   66.3222   349.590      NaN   32.7832   66.7955   353.9975
2014-02-05   66.4153   346.000      NaN   32.1802   67.5586   349.3700
2014-02-06   67.2745   347.403      NaN   31.7457   67.7282   354.8200
2014-02-07   68.7675   358.980      NaN   32.2068   68.9720   361.8000
2014-02-10   68.4088   361.610      NaN   32.4817   70.1669   365.0000
2014-02-11   69.9849   361.842      NaN   32.7034   70.9266   363.6100
2014-02-12   70.8211   356.430      NaN   33.1201   71.1654   357.7500
2014-02-13   70.5191   347.700      NaN   33.1024   71.8631   357.2000
...              ...       ...      ...       ...       ...        ...
2018-11-09  205.5500  1732.500  1073.99  110.3732  206.0100  1743.9200
2018-11-12  199.0000  1698.240  1061.39  108.9494  199.8500  1708.5500
2018-11-13  191.6300  1649.290  1043.29  107.0874  197.1800  1677.0600
2018-11-14  193.9000  1656.320  1050.00  108.1000  194.4800  1673.0000
2018-11-15  188.3900  1581.010  1044.71  104.9900  191.9700  1624.8200
2018-11-16  190.5000  1587.500  1059.41  107.0800  194.9695  1614.4800
2018-11-19  190.0000  1577.010  1057.20  108.2700  190.7000  1581.1900
2018-11-20  178.3700  1437.500  1000.00  101.8000  181.4700  1534.7500
2018-11-21  179.7300  1542.990  1036.76  103.6000  180.2700  1550.0000
2018-11-23  174.9400  1517.000  1030.00  102.1700  176.5950  1536.2000
2018-11-26  174.2400  1539.000  1038.35  104.7900  174.9500  1584.8100
2018-11-27  171.5100  1575.990  1041.00  106.2700  174.7700  1597.6500
2018-11-28  176.7300  1613.920  1048.76  107.8900  181.2900  1681.4500
2018-11-29  182.6600  1674.990  1076.08  110.3300  182.8000  1689.9900
2018-11-30  180.2900  1679.500  1089.07  110.7000  180.3300  1696.0000
2018-12-03  184.4600  1769.460  1123.14  113.0000  184.9400  1778.3400
2018-12-04  180.9500  1756.000  1103.12  111.9400  182.3899  1770.3400
2018-12-06  171.7600  1614.870  1034.26  105.8200  174.7800  1701.0500
2018-12-07  173.4900  1705.070  1060.01  108.3800  174.4900  1718.9300
2018-12-10  165.0000  1623.840  1035.05  104.8000  170.0900  1657.9900
2018-12-11  171.6600  1678.000  1056.49  109.8000  171.7900  1679.4700
2018-12-12  170.4000  1669.000  1068.00  110.8900  171.9200  1704.9900
2018-12-13  170.4900  1680.000  1068.07  109.5800  172.5700  1692.1200
2018-12-14  169.0000  1638.000  1049.98  108.2500  169.0800  1642.5700
2018-12-17  165.4500  1566.000  1037.51  105.4100  168.3500  1576.1300
2018-12-18  165.3800  1540.000  1026.09  103.7500  167.5300  1567.5500
2018-12-19  166.0000  1543.050  1033.99  103.6500  167.4500  1584.5300
2018-12-20  160.4000  1484.000  1018.13  103.0500  162.1100  1509.5000
2018-12-21  156.8600  1464.990  1015.30  101.6300  158.1600  1480.0000
2018-12-24  148.1500  1346.000   973.90   97.6800  151.5500  1396.0300

Attributes                          low                               \
Symbols        GOOG      MSFT      AAPL      AMZN     GOOG      MSFT
date
2014-01-02      NaN   33.1645   72.3757   394.020      NaN   32.8985
2014-01-03      NaN   33.0049   70.8560   396.220      NaN   32.4551
2014-01-06      NaN   32.7122   69.9605   388.420      NaN   32.0206
2014-01-07      NaN   32.3575   70.5276   394.290      NaN   32.1092
2014-01-08      NaN   32.0472   70.6279   396.040      NaN   31.5506
2014-01-09      NaN   31.8432   70.1900   398.440      NaN   31.3910
2014-01-10      NaN   32.0560   69.6341   393.800      NaN   31.7013
2014-01-13      NaN   31.9408   69.4728   388.450      NaN   30.8855
2014-01-14      NaN   31.8166   70.4928   391.290      NaN   30.7082
2014-01-15      NaN   32.6236   72.3284   392.534      NaN   31.7900
2014-01-16      NaN   32.8098   72.3310   389.410      NaN   32.1979
2014-01-17      NaN   32.6590   70.7865   393.660      NaN   32.0560
2014-01-21      NaN   32.6502   70.8547   401.600      NaN   31.9762
2014-01-22      NaN   32.2068   71.8236   402.000      NaN   31.7013
2014-01-23      NaN   32.0383   71.4298   397.790      NaN   31.4974
2014-01-24      NaN   33.2975   71.4224   387.270      NaN   32.3930
2014-01-27      NaN   32.7122   71.5535   380.490      NaN   31.9053
2014-01-28      NaN   32.2689   65.8266   387.120      NaN   31.7013
2014-01-29      NaN   32.7034   65.3743   383.240      NaN   31.8343
2014-01-30      NaN   32.7034   65.1226   387.700      NaN   32.1270
2014-01-31      NaN   33.5990   64.7096   357.760      NaN   32.4196
2014-02-03      NaN   33.6832   65.4634   340.100      NaN   32.3043
2014-02-04      NaN   32.9774   65.9171   344.020      NaN   32.1447
2014-02-05      NaN   32.3398   66.3749   337.730      NaN   31.7457
2014-02-06      NaN   32.1447   66.9777   347.403      NaN   31.6481
2014-02-07      NaN   32.4462   68.2399   352.490      NaN   31.9319
2014-02-10      NaN   32.6324   68.3217   359.350      NaN   32.1802
2014-02-11      NaN   33.0403   69.8385   356.250      NaN   32.6856
2014-02-12      NaN   33.3418   70.3318   346.320      NaN   33.0758
2014-02-13      NaN   33.5724   70.4584   346.500      NaN   33.1024
...             ...       ...       ...       ...      ...       ...
2018-11-09  1075.56  110.9707  202.2500  1701.870  1053.11  108.2922
2018-11-12  1062.12  109.4871  193.7900  1630.010  1031.00  105.6437
2018-11-13  1056.61  108.2723  191.4501  1613.750  1031.15  106.1813
2018-11-14  1054.56  108.2600  185.9300  1597.070  1031.00  104.4700
2018-11-15  1071.85  107.8000  186.9000  1546.510  1031.78  103.9100
2018-11-16  1067.00  108.8800  189.4600  1573.120  1048.98  106.8000
2018-11-19  1060.79  108.5600  184.9900  1503.360  1016.26  103.5500
2018-11-20  1031.74  102.9700  175.5100  1420.000   996.02   99.3528
2018-11-21  1048.56  104.4300  176.5500  1515.000  1033.47  102.2400
2018-11-23  1037.59  103.8099  172.1000  1501.810  1022.40  102.0000
2018-11-26  1049.31  106.6300  170.2600  1524.220  1033.91  104.5800
2018-11-27  1057.58  107.3300  170.8800  1558.010  1038.49  105.3600
2018-11-28  1086.84  111.3300  174.9300  1601.210  1035.76  107.8600
2018-11-29  1094.24  111.1150  177.7000  1652.330  1076.00  109.0300
2018-11-30  1095.57  110.9700  177.0300  1666.500  1077.88  109.3600
2018-12-03  1124.65  113.4200  181.2100  1730.000  1103.66  110.7300
2018-12-04  1104.42  112.6373  176.2700  1665.000  1049.98  108.2115
2018-12-06  1071.20  109.2400  170.4200  1609.850  1030.77  105.0000
2018-12-07  1075.26  109.4500  168.3000  1625.460  1028.50  104.3000
2018-12-10  1048.45  107.9800  163.3300  1590.870  1023.29  103.8900
2018-12-11  1060.60  110.9500  167.0000  1619.600  1039.84  107.4400
2018-12-12  1081.65  111.2700  169.0200  1660.270  1062.79  109.0400
2018-12-13  1079.76  110.8700  169.5500  1641.500  1053.93  108.6300
2018-12-14  1062.60  109.2600  165.2800  1585.000  1040.79  105.5000
2018-12-17  1053.15  105.8000  162.7300  1505.010  1007.90  101.7100
2018-12-18  1049.48  104.5100  164.3900  1523.010  1021.44  102.5200
2018-12-19  1062.00  106.8800  159.0900  1483.180  1008.05  101.3500
2018-12-20  1034.22  104.3100  155.3000  1432.690   996.36   98.7800
2018-12-21  1024.02  103.0000  149.6300  1363.960   973.69   97.4600
2018-12-24  1003.54   97.9700  146.5900  1307.000   970.11   93.9800

Attributes     close                                   volume              \
Symbols         AAPL     AMZN     GOOG      MSFT         AAPL        AMZN
date
2014-01-02   72.5211   397.97      NaN   32.9517   58791957.0   2140246.0
2014-01-03   70.9281   396.44      NaN   32.7300   98303870.0   2213512.0
2014-01-06   71.3149   393.63      NaN   32.0383  103359151.0   3172207.0
2014-01-07   70.8046   398.03      NaN   32.2866   79432766.0   1916684.0
2014-01-08   71.2533   401.92      NaN   31.7102   64686685.0   2316903.0
2014-01-09   70.3432   401.01      NaN   31.5063   69905199.0   2103793.0
2014-01-10   69.8740   397.66      NaN   31.9585   76320664.0   2681701.0
2014-01-13   70.2398   390.98      NaN   31.0185   94860843.0   2846507.0
2014-01-14   71.6374   397.54      NaN   31.7279   83734371.0   2340401.0
2014-01-15   73.0757   395.87      NaN   32.5970   98472619.0   2678794.0
2014-01-16   72.6680   395.80      NaN   32.7122   57471330.0   2602506.0
2014-01-17   70.8875   399.61      NaN   32.2600  108426689.0   4508791.0
2014-01-21   71.9888   407.05      NaN   32.0738   82255544.0   3122705.0
2014-01-22   72.3087   404.54      NaN   31.8610   95219334.0   2069759.0
2014-01-23   72.9210   399.87      NaN   31.9718  100978346.0   3026272.0
2014-01-24   71.5955   387.60      NaN   32.6369  108384437.0   4513038.0
2014-01-27   72.1763   386.28      NaN   31.9496  144219152.0   3944752.0
2014-01-28   66.4074   394.43      NaN   32.1624  266833581.0   2901611.0
2014-01-29   65.6535   384.20      NaN   32.5083  125942796.0   3399294.0
2014-01-30   65.5266   403.01      NaN   32.6856  169762789.0  10900116.0
2014-01-31   65.6339   358.69      NaN   33.5546  116336444.0  16181519.0
2014-02-03   65.7558   346.15      NaN   32.3487  100620772.0  10290934.0
2014-02-04   66.7077   347.95      NaN   32.2334   94273543.0   4821177.0
2014-02-05   67.2059   346.45      NaN   31.7634   82322156.0   4439010.0
2014-02-06   67.5976   354.59      NaN   32.0826   64497223.0   3340542.0
2014-02-07   68.5433   361.08      NaN   32.4196   93638601.0   4347189.0
2014-02-10   69.7712   360.87      NaN   32.6324   86451022.0   3451093.0
2014-02-11   70.6906   361.79      NaN   32.9650   70672252.0   3225200.0
2014-02-12   70.6853   349.25      NaN   33.2266   77127064.0   6599199.0
2014-02-13   71.8077   357.20      NaN   33.3507   76960156.0   4181445.0
...              ...      ...      ...       ...          ...         ...
2018-11-09  204.4700  1712.43  1066.15  109.0987   34365750.0   5902186.0
2018-11-12  194.1700  1636.85  1038.63  106.4104   51135518.0   6806245.0
2018-11-13  192.2300  1631.17  1036.05  106.4801   46882936.0   5933271.0
2018-11-14  186.8000  1599.01  1043.66  104.9700   60800957.0   6486891.0
2018-11-15  191.4100  1619.44  1064.71  107.2800   46478801.0   8427337.0
2018-11-16  193.5300  1593.41  1061.49  108.2900   36928253.0   6066080.0
2018-11-19  185.8600  1512.29  1020.00  104.6200   41920872.0   7789981.0
2018-11-20  176.9800  1495.46  1025.76  101.7100   67825247.0  10878823.0
2018-11-21  176.7800  1516.73  1037.61  103.1100   31124210.0   5716800.0
2018-11-23  172.2900  1502.06  1023.88  103.0700   23623972.0   2707642.0
2018-11-26  174.6200  1581.33  1048.62  106.4700   44998520.0   6257716.0
2018-11-27  174.2400  1581.42  1044.41  107.1400   41387377.0   5783227.0
2018-11-28  180.9400  1677.75  1086.23  111.1200   46062539.0   8458738.0
2018-11-29  179.5500  1673.57  1088.30  110.1900   41769992.0   6613243.0
2018-11-30  178.5800  1690.17  1094.43  110.8900   39531549.0   5761761.0
2018-12-03  184.8200  1772.36  1106.43  112.0900   40798002.0   6862160.0
2018-12-04  176.6900  1668.40  1050.82  108.5200   41344282.0   8694455.0
2018-12-06  174.7200  1699.19  1068.73  109.1900   43098410.0   8789394.0
2018-12-07  168.4900  1629.13  1036.58  104.8200   42281631.0   7576132.0
2018-12-10  169.6000  1641.03  1039.55  107.5900   62025994.0   7494808.0
2018-12-11  168.6300  1643.24  1051.75  108.5900   47281665.0   6244695.0
2018-12-12  169.1000  1663.54  1063.68  109.0800   35627674.0   6597968.0
2018-12-13  170.9500  1658.38  1061.90  109.4500   31897827.0   5271162.0
2018-12-14  165.4800  1591.91  1042.10  106.0300   40703710.0   6367163.0
2018-12-17  163.9400  1520.91  1016.53  102.8900   44287922.0   8829762.0
2018-12-18  166.0700  1551.48  1028.71  103.9700   33841518.0   6522975.0
2018-12-19  160.8900  1495.08  1023.01  103.6900   49047297.0   8792189.0
2018-12-20  156.8300  1460.83  1009.41  101.5100   64772960.0   9991833.0
2018-12-21  150.7300  1377.45   979.54   98.2300   95744384.0  13640320.0
2018-12-24  146.8300  1343.96   976.22   94.1300   37169232.0   7219996.0

Attributes
Symbols          GOOG         MSFT
date
2014-01-02        NaN   30643745.0
2014-01-03        NaN   31134795.0
2014-01-06        NaN   43615035.0
2014-01-07        NaN   35924726.0
2014-01-08        NaN   59979542.0
2014-01-09        NaN   36520448.0
2014-01-10        NaN   40558766.0
2014-01-13        NaN   45923872.0
2014-01-14        NaN   41627325.0
2014-01-15        NaN   44909545.0
2014-01-16        NaN   38035708.0
2014-01-17        NaN   46298736.0
2014-01-21        NaN   31578979.0
2014-01-22        NaN   21965266.0
2014-01-23        NaN   44515126.0
2014-01-24        NaN   77051806.0
2014-01-27        NaN   44485767.0
2014-01-28        NaN   36225755.0
2014-01-29        NaN   52790351.0
2014-01-30        NaN   35111959.0
2014-01-31        NaN   93190755.0
2014-02-03        NaN   64102391.0
2014-02-04        NaN   55526924.0
2014-02-05        NaN   55841097.0
2014-02-06        NaN   35380994.0
2014-02-07        NaN   33348008.0
2014-02-10        NaN   26782083.0
2014-02-11        NaN   32164989.0
2014-02-12        NaN   27055869.0
2014-02-13        NaN   37647772.0
...               ...          ...
2018-11-09  1343313.0   32039223.0
2018-11-12  1471758.0   33621807.0
2018-11-13  1513702.0   35374583.0
2018-11-14  1565945.0   39495141.0
2018-11-15  1836084.0   38505165.0
2018-11-16  1658116.0   33502121.0
2018-11-19  1858614.0   44773899.0
2018-11-20  2449130.0   64052457.0
2018-11-21  1534274.0   28130621.0
2018-11-23   691462.0   13823099.0
2018-11-26  1942822.0   32336165.0
2018-11-27  1803164.0   29124486.0
2018-11-28  2475419.0   46788461.0
2018-11-29  1468859.0   28123195.0
2018-11-30  2580612.0   33665624.0
2018-12-03  1990758.0   34732772.0
2018-12-04  2345166.0   45196984.0
2018-12-06  2769225.0   49107431.0
2018-12-07  2101206.0   45044937.0
2018-12-10  1807725.0   40801525.0
2018-12-11  1394731.0   42381947.0
2018-12-12  1523804.0   36183020.0
2018-12-13  1329768.0   31333362.0
2018-12-14  1686619.0   47043136.0
2018-12-17  2385364.0   56957314.0
2018-12-18  2192533.0   49319196.0
2018-12-19  2479338.0   68198186.0
2018-12-20  2673464.0   70334184.0
2018-12-21  4595891.0  111242070.0
2018-12-24  1590328.0   43935192.0

[1254 rows x 20 columns]

## The Axes of the Panel

In [7]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [9]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [10]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-09-02', '2016-09-06', '2016-09-07', '2016-09-08',
               '2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14',
               '2016-09-15', '2016-09-16'],
              dtype='datetime64[ns]', name='Date', length=1688, freq=None)

In [11]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [12]:
p.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-09-02', '2016-09-06', '2016-09-07', '2016-09-08',
                '2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14',
                '2016-09-15', '2016-09-16'],
               dtype='datetime64[ns]', name='Date', length=1688, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

## Panel Attributes

In [31]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [35]:
p.axes
p.items
p.major_axis
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [36]:
p.ndim

3

In [37]:
p.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [38]:
p.shape

(5, 1688, 5)

In [39]:
p.size

42200

In [40]:
5 * 1688 * 5

42200

## Extracting `DataFrames` from a `Panel` Using Bracket Notation

In [42]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [43]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [46]:
p["Volume"]

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-08-05   40553402.0   2704391.0  1801205.0   29335221.0   9127094.0
2016-08-08   28037220.0   1986272.0  1107857.0   19473499.0  10131279.0
2016-08-09   26315204.0   1876091.0  1318894.0   16920721.0   5971530.0
2016-08-10   24008505.0   1604280.0   786363.0   15756913.0  12981568.0
2016-08-11   27484506.0   2019740.0   975113.0   18162301.0  23938864.0
2016-08-12   18660434.0   1563318.0   740498.0   21655161.0  25182851.0
2016-08-15   25868209.0   2118521.0   938186.0   19283902.0  14441784.0
2016-08-16   33794448.0   1604561.0  1028047.0   20523493.0  13793794.0
2016-08-17   25355976.0   1891116.0   924226.0   18856423.0   8571927.0
2016-08-18   21984703.0   1458834.0   719429.0   14214341.0  11294419.0
2016-08-19   25368072.0   2343237.0   861546.0   17271044.0   9460753.0
2016-08-22   25820230.0   1679251.0   951362.0   15221922.0   6229402.0
2016-08-23   21257669.0   1524131.0   928232.0   18732373.0   8963786.0
2016-08-24   23675081.0   1744107.0  1071999.0   18151506.0   6930295.0
2016-08-25   25086248.0   1622992.0   926883.0   18552579.0   5360912.0
2016-08-26   27766291.0   2776830.0  1166681.0   20971202.0   6327991.0
2016-08-29   24970300.0   2198560.0   847565.0   16417207.0   4555600.0
2016-08-30   24863945.0   1709158.0  1130029.0   16930185.0   5804080.0
2016-08-31   29662406.0   1633789.0  1248556.0   20860269.0   7715941.0
2016-09-01   26701523.0   1792271.0   925131.0   26075363.0   5575305.0
2016-09-02   26334858.0   2157422.0  1072658.0   18900489.0   7334914.0
2016-09-06   26880391.0   3719788.0  1442822.0   16278416.0  18125776.0
2016-09-07   42364328.0   2424622.0   894021.0   17493359.0   9109446.0
2016-09-08   53002026.0   2030511.0  1270264.0   20146083.0   7882609.0
2016-09-09   46556984.0   4257344.0  1885496.0   35113934.0  12060737.0
2016-09-12   45292770.0   3124704.0  1310986.0   29302962.0  10808806.0
2016-09-13   62176190.0   3117224.0  1395046.0   30130213.0  10132044.0
2016-09-14  112340318.0   2531822.0  1094490.0   24274273.0  11625287.0
2016-09-15   90613177.0   3043534.0  1346751.0   27062614.0  12535634.0
2016-09-16   79886911.0   5499182.0  2049338.0   44606965.0  19093930.0

[1688 rows x 5 columns]

## Extracting with the `.loc[]`, `.iloc[]`, and `.ix[]` Methods

In [47]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [48]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [52]:
p.loc["Low", "2014-04-08", "GOOG"]

541.61000000000001

In [55]:
p.iloc[3, 200, 3]

25.309999999999999

In [59]:
p.ix["High", 500, 4]

16.050000000000001

## Convert `Panel` to a `MultiIndex DataFrame` (and Vice Versa)

In [66]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [68]:
df = p.to_frame()
df.head()

                    Open    High     Low   Close       Volume
Date       minor
2010-01-04 AAPL    30.49   30.64   30.34   30.57  123432050.0
           AMZN   136.25  136.61  133.14  133.90    7600543.0
           MSFT    30.62   31.10   30.59   30.95   38414185.0
           YHOO    16.94   17.20   16.88   17.10   16588957.0
2010-01-05 AAPL    30.66   30.80   30.46   30.63  150476004.0

In [70]:
p2 = df.to_panel()
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

## The `.major_xs()` Method

In [82]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [84]:
p.items
p["Volume"]

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-08-05   40553402.0   2704391.0  1801205.0   29335221.0   9127094.0
2016-08-08   28037220.0   1986272.0  1107857.0   19473499.0  10131279.0
2016-08-09   26315204.0   1876091.0  1318894.0   16920721.0   5971530.0
2016-08-10   24008505.0   1604280.0   786363.0   15756913.0  12981568.0
2016-08-11   27484506.0   2019740.0   975113.0   18162301.0  23938864.0
2016-08-12   18660434.0   1563318.0   740498.0   21655161.0  25182851.0
2016-08-15   25868209.0   2118521.0   938186.0   19283902.0  14441784.0
2016-08-16   33794448.0   1604561.0  1028047.0   20523493.0  13793794.0
2016-08-17   25355976.0   1891116.0   924226.0   18856423.0   8571927.0
2016-08-18   21984703.0   1458834.0   719429.0   14214341.0  11294419.0
2016-08-19   25368072.0   2343237.0   861546.0   17271044.0   9460753.0
2016-08-22   25820230.0   1679251.0   951362.0   15221922.0   6229402.0
2016-08-23   21257669.0   1524131.0   928232.0   18732373.0   8963786.0
2016-08-24   23675081.0   1744107.0  1071999.0   18151506.0   6930295.0
2016-08-25   25086248.0   1622992.0   926883.0   18552579.0   5360912.0
2016-08-26   27766291.0   2776830.0  1166681.0   20971202.0   6327991.0
2016-08-29   24970300.0   2198560.0   847565.0   16417207.0   4555600.0
2016-08-30   24863945.0   1709158.0  1130029.0   16930185.0   5804080.0
2016-08-31   29662406.0   1633789.0  1248556.0   20860269.0   7715941.0
2016-09-01   26701523.0   1792271.0   925131.0   26075363.0   5575305.0
2016-09-02   26334858.0   2157422.0  1072658.0   18900489.0   7334914.0
2016-09-06   26880391.0   3719788.0  1442822.0   16278416.0  18125776.0
2016-09-07   42364328.0   2424622.0   894021.0   17493359.0   9109446.0
2016-09-08   53002026.0   2030511.0  1270264.0   20146083.0   7882609.0
2016-09-09   46556984.0   4257344.0  1885496.0   35113934.0  12060737.0
2016-09-12   45292770.0   3124704.0  1310986.0   29302962.0  10808806.0
2016-09-13   62176190.0   3117224.0  1395046.0   30130213.0  10132044.0
2016-09-14  112340318.0   2531822.0  1094490.0   24274273.0  11625287.0
2016-09-15   90613177.0   3043534.0  1346751.0   27062614.0  12535634.0
2016-09-16   79886911.0   5499182.0  2049338.0   44606965.0  19093930.0

[1688 rows x 5 columns]

In [85]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-09-02', '2016-09-06', '2016-09-07', '2016-09-08',
               '2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14',
               '2016-09-15', '2016-09-16'],
              dtype='datetime64[ns]', name='Date', length=1688, freq=None)

In [88]:
p.major_xs("2013-12-20")

        Open    High     Low   Close       Volume
AAPL   77.91   78.80   77.83   78.43  109103435.0
AMZN  396.84  404.72  395.78  402.20    5038537.0
GOOG  544.10  550.03  543.46  549.76          NaN
MSFT   36.25   36.93   36.18   36.80   62650324.0
YHOO   40.35   40.60   40.11   40.12   24640437.0

## The `.minor_xs()` Method

In [89]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [90]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [95]:
p.minor_xs("MSFT")
p.minor_xs("GOOG").head(3)

              Open    High     Low   Close  Volume
Date
2010-01-04  313.16  314.44  311.81  313.06     NaN
2010-01-05  313.28  313.61  310.46  311.68     NaN
2010-01-06  312.62  312.62  302.88  303.83     NaN

In [96]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [102]:
p.items
p.major_axis
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [99]:
p["Open"]
p.major_xs("2016-09-16")
p.minor_xs("YHOO")

             Open   High    Low  Close      Volume
Date
2010-01-04  16.94  17.20  16.88  17.10  16588957.0
2010-01-05  17.22  17.23  17.00  17.23  11718126.0
2010-01-06  17.17  17.30  17.07  17.17  16421960.0
2010-01-07  16.81  16.90  16.57  16.70  31816301.0
2010-01-08  16.68  16.76  16.62  16.70  15471074.0
2010-01-11  16.77  16.83  16.48  16.74  16185267.0
2010-01-12  16.65  16.86  16.60  16.68  15674461.0
2010-01-13  16.88  16.98  16.65  16.90  16961731.0
2010-01-14  16.81  17.23  16.80  17.12  16717061.0
2010-01-15  17.25  17.25  16.75  16.82  18415868.0
2010-01-19  16.78  16.96  16.64  16.75  15182984.0
2010-01-20  16.65  16.68  16.25  16.38  14421141.0
2010-01-21  16.39  16.58  16.10  16.20  21860505.0
2010-01-22  16.08  16.21  15.81  15.88  25135493.0
2010-01-25  16.07  16.11  15.74  15.86  19683693.0
2010-01-26  15.82  16.17  15.70  15.99  43979302.0
2010-01-27  16.46  16.49  15.77  15.98  41700911.0
2010-01-28  15.93  15.96  15.44  15.44  30159437.0
2010-01-29  15.51  15.67  14.90  15.01  39667312.0
2010-02-01  15.14  15.30  14.87  15.05  29865661.0
2010-02-02  15.10  15.32  15.03  15.17  27556624.0
2010-02-03  15.12  15.60  15.12  15.46  24730564.0
2010-02-04  15.34  15.52  14.99  15.01  27668017.0
2010-02-05  15.01  15.25  14.92  15.19  20713744.0
2010-02-08  15.18  15.47  14.95  14.99  19856359.0
2010-02-09  15.20  15.24  14.94  15.07  16716845.0
2010-02-10  15.02  15.02  14.48  14.80  36518008.0
2010-02-11  14.87  15.25  14.76  15.22  24510127.0
2010-02-12  15.07  15.19  14.85  15.17  18929239.0
2010-02-16  15.23  15.48  15.18  15.41  21453147.0
...           ...    ...    ...    ...         ...
2016-08-05  39.00  39.15  38.90  38.99   9127094.0
2016-08-08  39.00  39.27  38.86  39.24  10131279.0
2016-08-09  39.24  39.31  39.10  39.24   5971530.0
2016-08-10  39.34  39.98  39.30  39.93  12981568.0
2016-08-11  41.12  41.73  40.93  41.27  23938864.0
2016-08-12  41.28  42.98  41.28  42.94  25182851.0
2016-08-15  43.18  43.29  42.43  42.67  14441784.0
2016-08-16  42.30  42.79  41.95  42.49  13793794.0
2016-08-17  42.39  42.75  42.39  42.70   8571927.0
2016-08-18  42.69  42.97  42.58  42.90  11294419.0
2016-08-19  42.80  43.12  42.64  43.02   9460753.0
2016-08-22  42.84  42.87  42.33  42.52   6229402.0
2016-08-23  42.61  42.91  42.45  42.60   8963786.0
2016-08-24  42.50  42.77  41.79  41.91   6930295.0
2016-08-25  41.83  42.24  41.73  42.03   5360912.0
2016-08-26  42.15  42.61  41.94  42.27   6327991.0
2016-08-29  42.20  42.46  42.08  42.26   4555600.0
2016-08-30  42.28  42.74  42.28  42.58   5804080.0
2016-08-31  42.46  42.80  42.46  42.75   7715941.0
2016-09-01  42.78  43.10  42.72  42.93   5575305.0
2016-09-02  43.27  43.60  43.08  43.28   7334914.0
2016-09-06  43.50  44.85  43.50  44.71  18125776.0
2016-09-07  44.55  44.92  44.19  44.35   9109446.0
2016-09-08  44.07  44.72  44.03  44.36   7882609.0
2016-09-09  43.92  44.15  42.82  42.92  12060737.0
2016-09-12  42.28  43.65  42.18  43.46  10808806.0
2016-09-13  43.19  43.52  42.69  43.04  10132044.0
2016-09-14  42.91  43.62  42.86  43.46  11625287.0
2016-09-15  43.41  44.05  43.22  43.99  12535634.0
2016-09-16  43.94  44.02  43.47  43.67  19093930.0

[1688 rows x 5 columns]

## Transpose a `Panel` with the `.transpose()` Method

In [12]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1713 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-10-21 00:00:00
Minor_axis axis: AAPL to YHOO

In [13]:
p.axes

[Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-10-10', '2016-10-11', '2016-10-12', '2016-10-13',
                '2016-10-14', '2016-10-17', '2016-10-18', '2016-10-19',
                '2016-10-20', '2016-10-21'],
               dtype='datetime64[ns]', name=u'Date', length=1713, freq=None),
 Index([u'AAPL', u'AMZN', u'GOOG', u'MSFT', u'YHOO'], dtype='object')]

In [15]:
p2 = p.transpose(2, 1, 0)

In [16]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1713 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-10-21 00:00:00
Minor_axis axis: AAPL to YHOO

In [19]:
p2["GOOG"]

              Open    High     Low   Close     Volume
Date
2010-01-04  313.16  314.44  311.81  313.06        NaN
2010-01-05  313.28  313.61  310.46  311.68        NaN
2010-01-06  312.62  312.62  302.88  303.83        NaN
2010-01-07  304.40  304.70  296.03  296.75        NaN
2010-01-08  295.70  301.32  294.26  300.71        NaN
2010-01-11  301.93  301.93  296.72  300.25        NaN
2010-01-12  298.74  298.78  293.71  294.94        NaN
2010-01-13  287.96  293.90  286.66  293.25        NaN
2010-01-14  291.66  296.80  291.11  294.63        NaN
2010-01-15  295.50  296.48  288.73  289.71        NaN
2010-01-19  290.45  294.91  287.86  293.52        NaN
2010-01-20  292.70  292.70  287.36  289.91        NaN
2010-01-21  291.43  293.12  285.84  291.20        NaN
2010-01-22  281.97  285.01  267.16  274.73        NaN
2010-01-25  273.02  274.66  267.49  269.73        NaN
2010-01-26  268.72  274.53  267.88  270.94        NaN
2010-01-27  270.36  273.55  267.39  270.78        NaN
2010-01-28  271.97  273.23  265.03  266.88        NaN
2010-01-29  268.98  270.22  262.54  264.71        NaN
2010-02-01  267.03  267.64  264.88  266.24        NaN
2010-02-02  267.21  267.21  263.54  265.29        NaN
2010-02-03  264.07  270.78  263.85  270.14        NaN
2010-02-04  268.23  268.73  262.52  263.13        NaN
2010-02-05  263.94  266.48  260.97  265.38        NaN
2010-02-08  265.98  270.73  265.50  266.47        NaN
2010-02-09  269.50  270.49  267.27  267.95        NaN
2010-02-10  266.77  268.63  263.58  266.96        NaN
2010-02-11  265.86  269.97  264.49  267.93        NaN
2010-02-12  266.22  268.31  264.98  266.29        NaN
2010-02-16  268.30  271.79  266.88  270.38        NaN
...            ...     ...     ...     ...        ...
2016-09-12  755.13  770.29  754.00  769.02  1310986.0
2016-09-13  764.48  766.22  755.80  759.69  1395046.0
2016-09-14  759.61  767.68  759.11  762.49  1094490.0
2016-09-15  762.89  773.80  759.96  771.76  1346751.0
2016-09-16  769.75  769.75  764.66  768.88  2049338.0
2016-09-19  772.42  774.00  764.44  765.70  1172824.0
2016-09-20  769.00  773.33  768.53  771.41   978631.0
2016-09-21  772.66  777.16  768.30  776.22  1167810.0
2016-09-22  780.00  789.85  778.44  787.21  1486223.0
2016-09-23  786.59  788.93  784.15  786.90  1411937.0
2016-09-26  782.74  782.74  773.07  774.21  1533206.0
2016-09-27  775.50  785.99  774.31  783.01  1153247.0
2016-09-28  777.85  781.81  774.97  781.56  1109834.0
2016-09-29  781.44  785.80  774.23  775.01  1314746.0
2016-09-30  776.33  780.94  774.09  777.29  1585333.0
2016-10-03  774.25  776.06  769.50  772.56  1278821.0
2016-10-04  776.03  778.71  772.89  776.43  1201350.0
2016-10-05  779.31  782.07  775.65  776.47  1461151.0
2016-10-06  779.00  780.48  775.54  776.86  1070692.0
2016-10-07  779.66  779.66  770.75  775.08   933158.0
2016-10-10  777.71  789.38  775.87  785.94  1174923.0
2016-10-11  786.66  792.28  780.58  783.07  1372461.0
2016-10-12  783.76  788.13  782.06  786.14   937435.0
2016-10-13  781.22  781.22  773.00  778.19  1365277.0
2016-10-14  781.65  783.95  776.00  778.53   852487.0
2016-10-17  779.80  785.85  777.50  779.96  1092973.0
2016-10-18  787.85  801.61  785.56  795.26  2056903.0
2016-10-19  798.86  804.63  797.64  801.56  1766798.0
2016-10-20  803.30  803.97  796.03  796.97  1757528.0
2016-10-21  795.00  799.50  794.00  799.37  1266181.0

[1713 rows x 5 columns]

In [20]:
p2.major_xs("2010-01-04")

                AAPL        AMZN    GOOG         MSFT         YHOO
Open    3.049000e+01      136.25  313.16        30.62        16.94
High    3.064000e+01      136.61  314.44        31.10        17.20
Low     3.034000e+01      133.14  311.81        30.59        16.88
Close   3.057000e+01      133.90  313.06        30.95        17.10
Volume  1.234320e+08  7600543.00     NaN  38414185.00  16588957.00

In [21]:
p2.minor_xs("Volume")

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-09-12   45292770.0   3124704.0  1310986.0   29302962.0  10808806.0
2016-09-13   62176190.0   3117224.0  1395046.0   30130213.0  10132044.0
2016-09-14  112340318.0   2531822.0  1094490.0   24274273.0  11625287.0
2016-09-15   90613177.0   3043534.0  1346751.0   27062614.0  12535634.0
2016-09-16   79886911.0   5499182.0  2049338.0   44606965.0  19093930.0
2016-09-19   47023046.0   2297221.0  1172824.0   20937104.0   7887375.0
2016-09-20   34514269.0   1937164.0   978631.0   17383982.0   9788923.0
2016-09-21   36003185.0   2718644.0  1167810.0   33707272.0  12313680.0
2016-09-22   31073984.0   4078910.0  1486223.0   19822203.0  33355616.0
2016-09-23   52481151.0   2353511.0  1411937.0   19955336.0  31888521.0
2016-09-26   29869442.0   2651397.0  1533206.0   21688720.0  12745119.0
2016-09-27   24607412.0   3819600.0  1153247.0   28065071.0   8765715.0
2016-09-28   29641085.0   4422078.0  1109834.0   20536400.0   7418984.0
2016-09-29   35886990.0   4922248.0  1314746.0   25463536.0  13720746.0
2016-09-30   36379106.0   4430566.0  1585333.0   29910788.0  10374757.0
2016-10-03   21701760.0   2769448.0  1278821.0   19189515.0   7965922.0
2016-10-04   29736835.0   2950314.0  1201350.0   20085874.0   8998384.0
2016-10-05   21453089.0   3469055.0  1461151.0   16726411.0   6118487.0
2016-10-06   28779313.0   2684013.0  1070692.0   16212611.0   6293908.0
2016-10-07   24358443.0   2426228.0   933158.0   20089020.0   8502112.0
2016-10-10   36235956.0   1827143.0  1174923.0   18196509.0   6573631.0
2016-10-11   64041043.0   3588180.0  1372461.0   26497418.0   9513283.0
2016-10-12   37586787.0   2380416.0   937435.0   22177464.0   7290843.0
2016-10-13   35192406.0   3091387.0  1365277.0   25313748.0  15689711.0
2016-10-14   35652191.0   2999814.0   852487.0   27402451.0   7781258.0
2016-10-17   23624896.0   3361492.0  1092973.0   23830014.0   8620369.0
2016-10-18   24553478.0   2512504.0  2056903.0   19149538.0  19360802.0
2016-10-19   20034594.0   2090706.0  1766798.0   22878397.0  14532469.0
2016-10-20   24125801.0   3151954.0  1757528.0   49455612.0  11671022.0
2016-10-21   23192665.0   2793015.0  1266181.0   80032206.0   7194168.0

[1713 rows x 5 columns]

## The `.swapaxes()` Method

In [115]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google", start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1688 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-09-16 00:00:00
Minor_axis axis: AAPL to YHOO

In [117]:
p2 = p.swapaxes("items", "minor")

In [118]:
p2.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-09-02', '2016-09-06', '2016-09-07', '2016-09-08',
                '2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14',
                '2016-09-15', '2016-09-16'],
               dtype='datetime64[ns]', name='Date', length=1688, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [121]:
p2["MSFT"]
p2.major_xs("2016-09-02")
p2.minor_xs("Close")

              AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04   30.57  133.90  313.06  30.95  17.10
2010-01-05   30.63  134.69  311.68  30.96  17.23
2010-01-06   30.14  132.25  303.83  30.77  17.17
2010-01-07   30.08  130.00  296.75  30.45  16.70
2010-01-08   30.28  133.52  300.71  30.66  16.70
2010-01-11   30.02  130.31  300.25  30.27  16.74
2010-01-12   29.67  127.35  294.94  30.07  16.68
2010-01-13   30.09  129.11  293.25  30.35  16.90
2010-01-14   29.92  127.35  294.63  30.96  17.12
2010-01-15   29.42  127.14  289.71  30.86  16.82
2010-01-19   30.72  127.61  293.52  31.10  16.75
2010-01-20   30.25  125.78  289.91  30.58  16.38
2010-01-21   29.72  126.62  291.20  30.01  16.20
2010-01-22   28.25  121.43  274.73  28.96  15.88
2010-01-25   29.01  120.31  269.73  29.32  15.86
2010-01-26   29.42  119.48  270.94  29.50  15.99
2010-01-27   29.70  122.75  270.78  29.67  15.98
2010-01-28   28.47  126.03  266.88  29.16  15.44
2010-01-29   27.44  125.41  264.71  28.18  15.01
2010-02-01   27.82  118.87  266.24  28.41  15.05
2010-02-02   27.98  118.12  265.29  28.46  15.17
2010-02-03   28.46  119.10  270.14  28.63  15.46
2010-02-04   27.44  115.94  263.13  27.84  15.01
2010-02-05   27.92  117.39  265.38  28.02  15.19
2010-02-08   27.73  116.83  266.47  27.72  14.99
2010-02-09   28.03  118.03  267.95  28.01  15.07
2010-02-10   27.87  117.36  266.96  27.99  14.80
2010-02-11   28.38  120.09  267.93  28.12  15.22
2010-02-12   28.63  119.66  266.29  27.93  15.17
2010-02-16   29.06  117.53  270.38  28.35  15.41
...            ...     ...     ...    ...    ...
2016-08-05  107.48  765.98  782.22  57.96  38.99
2016-08-08  108.37  766.56  781.76  58.06  39.24
2016-08-09  108.81  768.31  784.26  58.20  39.24
2016-08-10  108.00  768.56  784.68  58.02  39.93
2016-08-11  107.93  771.24  784.85  58.30  41.27
2016-08-12  108.18  772.56  783.22  57.94  42.94
2016-08-15  109.48  768.49  782.44  58.12  42.67
2016-08-16  109.38  764.04  777.14  57.44  42.49
2016-08-17  109.22  764.63  779.91  57.56  42.70
2016-08-18  109.08  764.46  777.50  57.60  42.90
2016-08-19  109.36  757.31  775.42  57.62  43.02
2016-08-22  108.51  759.48  772.15  57.67  42.52
2016-08-23  108.85  762.45  772.08  57.89  42.60
2016-08-24  108.03  757.25  769.64  57.95  41.91
2016-08-25  107.57  759.22  769.41  58.17  42.03
2016-08-26  106.94  769.00  769.54  58.03  42.27
2016-08-29  106.82  771.29  772.15  58.10  42.26
2016-08-30  106.00  767.58  769.09  57.89  42.58
2016-08-31  106.10  769.16  767.05  57.46  42.75
2016-09-01  106.73  770.62  768.78  57.59  42.93
2016-09-02  107.73  772.44  771.46  57.67  43.28
2016-09-06  107.70  788.87  780.08  57.61  44.71
2016-09-07  108.36  784.48  780.35  57.66  44.35
2016-09-08  105.52  784.06  775.32  57.43  44.36
2016-09-09  103.13  760.14  759.66  56.21  42.92
2016-09-12  105.44  771.49  769.02  57.05  43.46
2016-09-13  107.95  761.01  759.69  56.53  43.04
2016-09-14  111.77  761.09  762.49  56.26  43.46
2016-09-15  115.57  769.69  771.76  57.19  43.99
2016-09-16  114.92  778.52  768.88  57.25  43.67

[1688 rows x 5 columns]